    body {
        font-size: 10px;
        overflow: auto;
        white-space: nowrap;
    }
    /*.dot {
        &.active {
            background-color: blue;
        }
        &.disabled {
            background-color: #bbb;
        }
    }*/
    
    .calendar .weekdays {
        display: flex;
        flex-direction: row;
        margin-left: 16em;
        padding: 0em 1em;
    }
    
    .calendar .weekdays li {
        margin-left: 4em;
        font-size: 2em;
        text-decoration: none;
    }
    
    .content {
        height: 6em;
        width: 110%;
        background-color: #FFCB9A;
    }
    
    .sideUser {
        height: 100%;
        width: 17em;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #FFCB9A;
        overflow-x: hidden;
        padding-top: 2em;
    }
    
    .sideUser a {
        text-decoration: none;
        font-size: 2.5em;
        color: #818181;
        margin-left: 1.1em;
        display: flex;
        flex-direction: column;
    }
    
    .sideUser a:hover {
        color: #f1f1f1;
    }
    
    .sideUser .user-active {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .sideUser .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .weekboxes {
        font-size: 3em;
        display: flex;
        flex-direction: row;
        margin-left: 5.7em;
        width: 100%;
        height: 40em;
        list-style-type: none;
    }
    
    .day {
        width: 20%;
        border: .1em solid black;
        font-size: 0.9em;
        text-align: center;
        text-decoration: none;
    }
    
    .timetable {
        width: 20%;
        border: .1em solid black;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        text-align: center;
        text-decoration: none;
    }
    
    .dot-active {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        background-color: blue;
    }
    
    .dot-disabled {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        background-color: #bbb;
    }
    
    .title {
        height: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .hour {
        padding-top: .39em;
        border: .1em solid white;
        background-color: #bbb;
        text-align: center;
    }
    
    .hour:hover {
        background-color: aqua
    }